.centered {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 1rem;
  padding: 2rem;
  border: 1px solid black;
}

.questionTitle {
  font-size: 20px;
}

.sticky {
  position: sticky;
  align-items: right;
  top: 0;
  right: 0;
  width: 25%;
  height: 50px;
  background-color: yellow;
  color: black;
}

.toDisplay {
  visibility: hidden;
}
